<div class="container mt-5">
    <div class="row">
        <!-- Movie Poster -->
        <div class="col-md-4">
            <img src={{movie.posterUrl}} alt="Movie Poster" class="movie-poster img-fluid rounded">

            <div class="movie-video mt-5">
                <iframe [src]="safeVideoUrl" class="video-iframe img-fluid" width="100%"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>

        <!-- Movie Details -->
        <div class="col-md-8">
            <!-- <h1>Deadpool & Wolverine (2024)</h1> -->
            <h1>{{movie.title}}</h1>
            <p class="text-muted">{{movie.releaseDate}} | {{movie.genre}} </p>

            <!-- Rating and Vibe -->
            <div class="d-flex align-items-center">
                <div class="rating-circle">{{ averageRating | number:'1.0-1' }} / 5</div>

                <div class="ms-3">
                    <span class="badge bg-success rounded-pill">🏍️🏍️</span>
                    <span class="badge bg-secondary">{{movie.movieLength}}</span>
                </div>
            </div>

            <!-- Overview -->
            <div class="movie-overview">
                <h4>Overview</h4>
                <p>{{movie.description}}</p>
            </div>

            <!-- Crew -->
            <div class="movie-crew">
                <h4>Crew</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>{{movie.director}}</strong> - Director </li>
                            <li><strong>{{movie.writer}}</strong> - Writer</li>
                            <li><strong>{{movie.movieCast}}</strong> - Characters</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Jack Kirby</strong> - Characters</li>
                            <li><strong>Fabian Nicieza</strong> - Characters</li>
                            <li><strong>Ryan Reynolds</strong> - Writer</li>
                            <li><strong>Zeb Wells</strong> - Writer</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row align-items-center">
                    <!--  Review Button -->
                    <div class="col-md-4 mt-3">
                        <button class="btn btn-primary w-100">
                            <i class="bi bi-patch-plus mx-2"></i>
                            Add Review
                        </button>
                    </div>

                    <!-- Rating Dropdown -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="rating" class="form-label">Rating</label>
                            <select id="rating" class="form-select">
                                <option value="" disabled selected>Rate {{movie.title}}</option>

                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>
                        </div>
                    </div>

                    <!-- Comment Textarea -->
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="mb-3 w-100">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea id="comment" class="form-control" rows="1"
                                placeholder="Write your review here..."></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container row my-5">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <h2>Reviews</h2>
            <div *ngFor="let review of reviews">
                <app-single-review [review]="review"></app-single-review>
            </div>
        </div>
    </div>

</div>