.movie-poster {
    max-width: 100%;
    height: auto;
}
.movie-overview {
    margin-top: 20px;
}
.rating-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #77cc77;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.video-iframe {
    border-radius: 10px;
    border: none;
    height: 250px;
}


/* Custom CSS */
.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.review-form .form-control,
.review-form .form-select {
    border-radius: 5px;
}



.share-icon {
    font-size: 2rem;
    color: #4aec0a;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}
.share-icon:hover {
    transform: scale(1.2);
    color: white;
    
}


.toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
}


.star-rating {
    font-size: 2rem;
   
}


.star-rating .bi-star {
    cursor: pointer;
    color: lightgray; 
    transition: color 0.2s;
    margin-right: 0.2rem;
}

.star-rating .bi-star-fill {
    color: gold; 
}
