<div class="container mt-5">
    <div class="row">

        <div class="col-md-4">
            <img src={{movie.posterUrl}} alt="Movie Poster" class="movie-poster img-fluid rounded">

            <div class="movie-video mt-5">
                <iframe [src]="safeVideoUrl" class="video-iframe img-fluid" width="100%"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


        </div>



        <div class="col-md-8">

            <div class="d-flex align-items-center justify-content-between">
                <h1>{{movie.title}}</h1>
                <div class="d-flex align-items-center">
                    <i class="bi bi-share-fill share-icon" id="shareIcon" (click)="copyUrl()"></i>
                    <span *ngIf="showCopiedMessage" class="badge bg-primary ms-2">Link Copied</span>
                    <span *ngIf="!showCopiedMessage" class="badge bg-primary ms-2 invisible">Url Copied</span>
                </div>
            </div>



            <p class="text-muted">{{movie.releaseDate}} | {{movie.genre}} </p>


            <div class="d-flex align-items-center">
                <div class="rating-circle">{{ averageRating | number:'1.0-1' }} / 5</div>

                <div class="ms-3">
                    <span class="badge bg-success rounded-pill">🏍️</span>
                    <span class="badge bg-secondary">{{movie.movieLength}}</span>
                </div>
            </div>


            <div class="movie-overview mt-5">
                <h4>Overview</h4>
                <p>{{movie.description}}</p>
            </div>


            <div class="movie-crew mt-5">
                <h4>Crew</h4>
                <div class="row">
                    <div class="col-md-8">
                        <ul>
                            <li>Directors - <strong>{{movie.director}}</strong> </li>
                            <li>Writers - <strong>{{movie.writer}}</strong></li>
                            <li>Cast - <strong>{{movie.movieCast}}</strong></li>

                        </ul>
                    </div>

                </div>
            </div>





            <!-- ********* -->



        </div>

    </div>



    <!-- *************** -->


    <div class="container mt-5">
        <div class="row">

            <div class="col-md-4">
            </div>



            <div class="col-md-8">
                <div class=" mt-5" *ngIf="authService.isLoggedIn">
                    <h3 class="">Submit Review</h3>
    
                    <div class="row align-items-center">
                        <div class="">
                            <div class="star-rating">
                                <i class="bi mx-2" 
                                   *ngFor="let star of stars; let index = index"
                                   [ngClass]="{
                                       'bi-star-fill': index < selectedRating || index < hoveredRating, 
                                       'bi-star': index >= selectedRating && index >= hoveredRating
                                   }"
                                   (mouseover)="hoverRating(index + 1)"
                                   (mouseleave)="hoveredRating = 0"
                                   (click)="selectRating(index + 1)">
                                </i>
                            </div>
                        </div>
                        
    
                        <div class="col-md-12 mt-3">
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea id="comment" class="form-control" rows="3" placeholder="Write your comment here..."
                                    [formControl]="commentControl"></textarea>
                            </div>
                        </div>
    
                        <div class="col-md-4 mt-3">
                            <button class="btn btn-secondary w-100" (click)="submitReview()">
                                <i class="bi bi-patch-plus mx-2"></i>
                                Submit
                            </button>
                        </div>
                    </div>
    
                    <div *ngIf="reviewSuccess" class="alert alert-success alert-dismissible fade show mt-2 text-dark w-50"
                        role="alert">
                        Review added successfully!
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    <div *ngIf="reviewError" class="alert alert-danger mt-2 w-50 alert-dismissible fade show" role="alert">
                        {{ reviewErrorMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                </div>
            </div>
        </div>


        <!-- ********************** -->







        <div class="container row my-5">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <h2>Reviews</h2>
                <div *ngFor="let review of reviews">
                    <app-single-review [review]="review"></app-single-review>
                </div>
            </div>
        </div>

    </div>