<!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Review It</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Signup</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  -->




  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-star-fill"></i> Review It
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login <i class="bi bi-person-fill"></i></a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup <i class="bi bi-plus-circle-fill"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
              <i class="bi bi-person-circle" style="color: white;"></i> Profile
            </a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a class="nav-link" routerLink="/logout" routerLinkActive="active">
              <i class="bi bi-box-arrow-right"  style="color: white;" ></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>