/* .custom-navbar {
    background-color: #007bff;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.navbar-brand{
    font-weight: bolder;
}

.btn-success {
    transition: background-color 0.3s, transform 0.3s;
} */



ul,li{
  list-style-type: none;
}


 .custom-navbar {
    background-color: #007bff;
    padding: 7px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }
  
  .nav-link {
    font-size: 1.1rem;
  }
  
  .nav-link:hover {
    color: #ffdd57 !important;
  }
  
  .btn-outline-light {
    border: 1px solid white;
    color: white;
  }
  
  .btn-outline-light:hover {
    background-color: #ffdd57;
    color: black;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 123, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .dropdown-menu {
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
  }
  
  .user-info {
    color: #343a40; 
  }
  
  .user-icon {
    font-size: 1.5rem; 
    color: #007bff; 
  }
  
  .user-name {
    font-weight: bold; 
    font-size: 1.1rem;
  }
  
  .user-email {
    font-weight: bold; 
    font-size: 1.1rem;

  }
  

  .dropdown-menu:hover {
    background-color: #e9ecef; 
   
  }
  
  
  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: #007bff;
    }
  
    .navbar-nav {
      text-align: center;
    }
  }
  