
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
    <a class="navbar-brand text-white" routerLink="/"><i class="bi bi-yelp"></i>ReviewIt</a>
      <a class="nav-link text-white mx-2" routerLink="/movies">Home</a>
        <a class="nav-link mx-2" routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Login <i class="bi bi-person-fill"></i></a>
        <a class="nav-link mx-2" routerLink="/signup" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Signup <i class="bi bi-person-fill"></i></a>
      
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">

      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-people mx-2"></i>Profile</a>
          <div class="dropdown-menu">
            <div class="container">
              <p>{{this.userProfileService.getUserProfile().userName}}</p>
              <p>{{this.userProfileService.getUserProfile().userEmail}}</p>
        
            </div>
          </div>
        </li>

      <ul class="navbar-nav">
          <!-- <button class="nav-link text-white" *ngIf="authService.isLoggedIn" ><i class="bi bi-people"></i> Profile</button> -->
        <li class="nav-item">
          <button class="btn btn-outline-light mx-5" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  