<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>   
  
      <div class="modal-body">
        <p><strong>Username:</strong> {{ user.username   
   }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>   
  
    </div>
  </div>